nav {
    position: absolute;
    top: 0;
    left: 0;
    background-color: aliceblue;
    width: 100%;
    color: #0F52BA;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}



.ul-top {
    display: flex;
    width: 40%;
    justify-content: space-around;
}

@media only screen and (max-width: 600px) {
    .ul-top {
        display: none;
    }
}